<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

  <link th:href="@{/css/bootstrap-icons.css}" rel="stylesheet" />

  <link th:href="@{/css/all.min.css}" rel="stylesheet" />
  <link th:href="@{/css/nice-select.css}" rel="stylesheet" />
  <link th:href="@{/css/animate.min.css}" rel="stylesheet" />

  <link rel="stylesheet" th:href="@{/css/jquery.fancybox.min.css}" />

  <link th:href="@{/css/fontawesome.min.css}" rel="stylesheet" />

  <link rel="stylesheet" th:href="@{/css/boxicons.min.css}" />

  <link rel="stylesheet" th:href="@{/css/swiper-bundle.min.css}" />
  <link rel="stylesheet" th:href="@{/css/slick-theme.css}" />
  <link rel="stylesheet" th:href="@{/css/slick.css}" />

  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <title>Beautico - Beauty & Cosmetics</title>
  <link rel="icon" th:href="@{/img/sm-logo.svg}" type="image/gif" />
</head>
