
<script data-cfasync="false" th:src="@{/../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js}"></script>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>

<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/jquery.nice-select.min.js}"></script>

<script th:src="@{/js/jquery.fancybox.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/slick.js}"></script>

<script th:src="@{/js/swiper-bundle.min.js}"></script>
<script th:src="@{/js/waypoints.min.js}"></script>

<script th:src="@{/js/main.js}"></script>